.azul {
    background-color: lightblue;
    border: 1px darkblue solid;
}

.verde {
    background-color: lightgreen;
    border: 1px darkgreen solid;
}

.margem-topo {
    margin-top: 50px;
}

.tamanho-imagem {
    width: 100%;
    height: 100%;
}